@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #ff900f;
    color: #FFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

main {
    max-width: 1150px;
    margin: 0 auto;

}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* dark-1 */
.text-gray {
    color: #131313;
}

/* dark-2 */
.text-gray-light {
    color: #424242;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */


/* navbar related styles  */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2rem;
}


.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;

}


/* banner related styles */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


.banner-title {
    font-weight: 700;
    font-size: 3rem;
    margin: 2px;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    margin-bottom: 5px;
}

.banner-image {
    width: 1240px;
    height: 700px;
}

/*team ansd features related styles  */

.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 90px;
    max-width: 530px;
}



#quick-list {
    font-weight: 500;
}

.text-primary {
    color: #ff900f;
}

/* features we enjoy */

.feature-card-container {
    width: 450px;
    height: 800px;
}

.feature-img {
    width: 600px;
    height: 1050px;
    padding-right: 30px;
}

.features {
    gap: 140px;
}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: -100px;
    margin-top: -100px;
}

#feature-section-title {
    border-left: 5px solid #ff900f;
    padding-left: 20px;
}

#experience-year {
    font-size: 3.5rem;
    font-weight: 600;
}

.feature-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card,
.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-description {
    font-size: 16px;
    margin: 2px;
}

/* some facts related */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 60px;
}

.fact-card {
    border: 1px solid #ff900f;
    width: 220px;
    height: 220px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
    margin-top: 3px;
    padding-bottom: 40px;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
}


/* /* sponsor style */

.sponsor-info {
    max-width: 540px;
    margin: 40px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 20px;
}

.sponsor-companies img {
    filter: grayscale(100%);
}


/* responsive media query */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-link,
    .teams {
        flex-direction: column;
    }

    .banner,
    .navbar {
        max-width: 800px;
    }

    .banner-image {
        width: 500px;
        height: 350px;
        margin-left: 20px;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 15px;
    }

    .feature-card-container {
        width: 550px;
        height: 750px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .feature-img {
        width: 500px;
        height: 850px;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #experience-badge {
        margin-left: 20px;
        margin-top: 20px;
    }

    .facts-container {
        padding-left: 160px;
        gap: 10px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 50px;
    }

}


/* medium size device */

/* @media screen and (min-width: 576px) and (max-width: 992px) {

    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsor-companies,
    .facts-container {
        grid-template-columns: repeat(3, 1fr);
    }

} */